<div class="site-dash">
    <div class="site-dash__content">
        <h1>SimpleBlogCMS</h1>
        <p>A light, but powerful blogging web app for Node.js servers with Express and MongoDB.</p>
    </div>
</div>