<!doctype html>
<html>
    <head>
        <% include partials/head %>
        <title>Welcome to SimpleBlogCMS</title>
    </head>
    <body>
        <% include partials/navbar %>
        <% include partials/dash %>
        <% include partials/posts %>
        <% include partials/footer %>
        <script src="js/posts.js"></script>
    </body>
</html>