<!doctype html>
<html>
    <head>
        <% include partials/head %>
        <title>SimpleBlogCMS - Create a New Post</title>
    </head>
    <body>
        <% include partials/navbar %>
        <% include partials/dash %>
        <div class="container mt-5">
            <form method="POST" action="/posts">
                <div class="form-group">
                    <label>Post title: </label><input class="form-control" type="text" name="postTitle" placeholder="Type post title here.." required><br>
                    <label>Post author: </label><input class="form-control" type="text" name="postAuthor" placeholder="Type post author here.." required><br>
                    <label>Post content: <br></label><textarea class="form-control" rows="9" name="postContent" placeholder="This is where the post content goes.." minlength="25" maxlength="9000"></textarea><br>
                    <button class="btn btn-lg btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <% include partials/footer %>
    </body>
</html>