<!doctype html>
<html>
    <head>
        <% include partials/head %>
        <title>SimpleBlogCMS - <%=post.postTitle%></title>
    </head>
    <body>
        <% include partials/navbar %>
        <% include partials/dash %>
        <div class="container mt-5">
            <h1><%=post.postTitle%></h1>
            <p><%=post.postContent%></p>
        </div>
        <% include partials/footer %>
    </body>
</html>